<div class="post">
  <h3>Create a New post</h3>

  <%= form_for @page do |p| %>
    <p><%= p.label :title %><br />
    <%= p.text_field :title %><br /><br />
    <%= p.label :content %><br />
    <%= p.text_area :content %><br /><br>
    <%= p.label :mood %><br />
    <%= p.text_field :mood %><br />
    <br />
    <%= p.submit %><br /></p>
    <br />
  <% end %>
</div>
